body{
    background-color: lightcyan;
}


h1{
    color: black;
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

h2{
    color: black;
    font-size: 175%;
    font-weight: bold;
    text-decoration: underline;
}

img{
    width:100%;
    height:100%;
  }

.active, .panel:hover {
    border-color:oldlace;
    border-style: solid;
    
}

p{
    font-size: 125%;
    text-align: justify;
}

.col-lg-7{
    text-align: center;
    border: 30px;
    padding: 10px;
}

.col-lg-5{
    text-align: left;
}

.col-lg-6{
    text-align: center;
}

.col-md-12{
    text-align: center;
}

.button{
    align-items: center;
}

.navbar {
    max-height: 50px;
  }

.navbar-custom{
    text-align: center;
    font-size: larger;
    color: lightcyan;
    background-color: black;
}

.navbar-nav{
    text-align: center;
    
}

.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: lightcyan;
    ;
  }

.dropdown-item {
    color: lightcyan;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: lightcyan;
    ;
}

.nav-item{
    color: lightcyan
}

.nav-item:hover{
    color: black;
}

.nav-link:hover {
    background-color:lightcyan;
   }

.box {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 10px 10px 30px;
    color:black;
    background-color: rgb(255, 255, 255)
  }

.table {
    font-size: 15px;
    border-top-color: oldlace;
  }
